<!-- <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->


<div class="modal-content modal-lg">
	<div class="modal-body content-form">
		<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
		<form [formGroup]="forgotPassForm">
				<div class="contact-form">
					<h4 class="main-title">Forgot Password</h4>
					<h5 class="note-title">Enter your registered email.</h5>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<span class="label-text">Email Address <span>*</span></span>
							<input type="email" class="input-info" formControlName="email" required>
							<div *ngIf="forgotPassForm.invalid && formsubmitted" class="error-msg">
								<div class="text-danger" *ngIf="!!forgotPassForm.controls['email'].pristine || !!forgotPassForm.controls['email'].errors?.required">Email
									is required.</div>
								<div class="text-danger" *ngIf="forgotPassForm.controls['email'].dirty && !!forgotPassForm.controls['email'].errors?.patternInvalid?.regexp">Email
									is invalid.</div>
							</div>
						</div>
					</div>
					<div class="group-button">
							<button class="button submit" (click)="contactus()">
								<span *ngIf="loading">Please Wait ...</span>
								<span *ngIf="!loading">Submit</span>
							</button>
							
						</div>
					<span class="successmsg bg-success" *ngIf="sentsuccess"><strong>Success :</strong> {{replymsg}}</span>
				</div>
		 </form>
	</div>
</div>
