<app-header-common></app-header-common>
<div class="main-content shop-page main-content-detail">
  <div class="container">
		<div class="breadcrumbs">
			<a href="#">Home</a> \ <span class="current">Reset Password</span>
		</div>
		<div class="row content-form ">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 info-content">
				<form [formGroup]="resetForm">
					<div class="contact-form">
            <h5 class="title">Reset Password</h5>
            <div class="row">
              <div class="col-sm-12">
                <span class="label-text">Password <span>*</span></span>
                <input type="password"  formControlName="password"  class="input-info">
                <div *ngIf="resetForm.invalid && formsubmitted" class="error-msg">
                    <div class="text-danger" *ngIf="!!resetForm.controls['password'].pristine || !!resetForm.controls['password'].errors?.required">Password is required.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span class="label-text">Confirm Password <span>*</span></span>
                <input type="password"  formControlName="confirm_password"  class="input-info">
                <div *ngIf="resetForm.invalid && formsubmitted" class="error-msg">
                    <div class="text-danger" *ngIf="!!resetForm.controls['confirm_password'].pristine || !!resetForm.controls['confirm_password'].errors?.required">Confirm Password is required.</div>
                </div>
                <div *ngIf="resetForm.invalid && formsubmitted && resetForm.controls['confirm_password'].dirty" class="error-msg">
                    <div class="text-danger" *ngIf="!!resetForm.errors?.mismatch && !!resetForm.controls['confirm_password'].errors?.required === false">Password & Confirm Password should be same.</div>
               </div>
              
              </div>
            </div>
            <div class="group-button">
              <button class="button submit"  [disabled]="showloading" (click)="resetpw(templateresetsuccess)">SUBMIT <span class="loading" *ngIf="showloading"><img src="assets/images/loader.gif"></span></button>
              <!-- <span class="successmsg" [ngClass]="{'bg-success': error, 'bg-success': success}"  *ngIf="!!usermsg"  >{{usermsg}}</span> -->
            </div>

          </div>
          
        </form>
        <ng-template #templateresetsuccess>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Success</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="info-box">
                  <span class="info-box-icon bg-green">
                      <i class="fa fa-check"></i></span>
      
                  <div class="info-box-content">
                    <span class="info-box-text">Password updated successfully</span>
                    <button class="button submit" (click)="gotologin()">Login</button>
                  </div>
                  <!-- /.info-box-content -->
                </div>   
            <!-- <p><span><i class="fa fa-times"></i></span>Your registration has been successful! You will receive a confirmation mail shortly containing the link to activate your account!</p> -->
          </div>
        </ng-template>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>