<div [formGroup]="newadForm">

    <div [ngSwitch]="formbase?.key">
        <div [ngSwitch]="formbase?.key">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngSwitchCase="'category'">
                <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
              <input type="text" class="input-info" [formControlName]="formbase.key" [readOnly]=true>
              <div *ngIf="formbase.required">
                <div *ngIf="!isValid && forcevalidation" class="error-msg">
                  <div *ngIf="newadForm.controls['category'].pristine && newadForm.controls['category'].errors?.required">Category
                    is required.</div>
                  <div *ngIf="newadForm.controls['category'].dirty && newadForm.controls['category'].errors?.required">Category
                    is required.</div>
                </div>
              </div>
            </div>
        
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngSwitchCase="'subcatnames'">
                <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
                <input type="text" class="input-info" [formControlName]="formbase.key" [readOnly]=true>
                <div *ngIf="formbase.required">
                  <div *ngIf="!isValid && forcevalidation" class="error-msg">
                    <div *ngIf="newadForm.controls['subcatnames'].pristine && newadForm.controls['subcatnames'].errors?.required">Subcatnames
                      is required.</div>
                    <div *ngIf="newadForm.controls['subcatnames'].dirty && newadForm.controls['subcatnames'].errors?.required">Subcatnames
                      is required.</div>
                  </div>
                </div>
            </div>
   
      <div *ngSwitchCase="'country'">
          <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
          <select class="form-control" [formControlName]="formbase.key"  (change)="getCities($event)"> 
              <option  value="null">Select Country</option>
              <option *ngFor="let item of formbase['options']" value="{{item}}">{{item}}</option>
          </select>
            <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                <div *ngIf="newadForm.controls['country'].pristine && newadForm.controls['country'].errors.required">Country is  required.</div>
            </div>
        </div>
        <div  *ngSwitchCase="'city'">
            <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
            <select class="form-control" [formControlName]="formbase.key" > 
                <option [ngValue]="null" [disabled]="true">Select city</option>
                <option *ngFor="let item of formbase['options']" [ngValue]="item">{{item}}</option>
            </select>
              <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                  <div *ngIf="!newadForm.controls['city'].pristine && newadForm.controls['city'].errors.required">City is  required.</div>
              </div>
          </div>
      <div *ngSwitchCase="'condition'">
          <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
          <select class="form-control" [formControlName]="formbase.key"  (change)="getCities($event)"> 
              <option  [ngValue]="null" [disabled]="true">Condition</option>
              <option *ngFor="let item of formbase['options']" [ngValue]="item">{{item}}</option>
          </select>
          <div *ngIf="formbase.required">
            <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                <div *ngIf="newadForm.controls['condition'].pristine && newadForm.controls['condition'].errors.required">Condition is  required.</div>
            </div>
          </div>
        </div>
        <div  *ngSwitchCase="'yearmfg'">
            <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
            <select class="form-control" [formControlName]="formbase.key" > 
                <option [ngValue]="null" [disabled]="true">Year of manufacture</option>
                <option *ngFor="let item of formbase['options']" [ngValue]="item">{{item}}</option>
            </select>
            <div *ngIf="formbase.required">
              <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                  <div *ngIf="newadForm.controls['yearmfg'].pristine && newadForm.controls['yearmfg'].errors.required">Year of manufacture is  required.</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngSwitchCase="'manufacture'">
              <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
              <input type="text" class="input-info" [formControlName]="formbase.key">
              <div *ngIf="formbase.required">
                <div *ngIf="!isValid && forcevalidation" class="error-msg">
                  <div *ngIf="newadForm.controls['manufacture'].pristine && newadForm.controls['manufacture'].errors?.required">Manufacture
                    is required.</div>
                  <div *ngIf="newadForm.controls['manufacture'].dirty && newadForm.controls['manufacture'].errors?.required">Manufacture
                    is required.</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngSwitchCase="'addinfo'">
                <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
                <textarea   class="input-info input-note" [formControlName]="formbase.key" [rows]="5" [cols]="100"></textarea>
                <div *ngIf="formbase.required">
                  <div *ngIf="!isValid && forcevalidation" class="error-msg">
                    <div *ngIf="newadForm.controls['addinfo'].pristine && newadForm.controls['addinfo'].errors?.required">Additional Information
                      is required.</div>
                    <div *ngIf="newadForm.controls['addinfo'].dirty && newadForm.controls['addinfo'].errors?.required">Additional Information
                      is required.</div>
                  </div>
                </div>
              </div>
      <div class="col-xs-12 " *ngSwitchCase="'currency'">
          <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
          <select class="form-control" [formControlName]="formbase.key" > 
              <option [ngValue]="null" [disabled]="true">Select currency</option>
              <option *ngFor="let item of formbase['options']" [ngValue]="item.currencyname">{{item.currencyname}}</option>
          </select>
          <div *ngIf="formbase.required">
            <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                <div *ngIf="newadForm.controls['currency'].pristine && newadForm.controls['currency'].errors.required">Currency  required.</div>
            </div>
          </div> 
        <!-- <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
          
    
          <ng-select [searchable]="false" #currencySelect [items]="formbase.options" [selectOnTab]="true" bindLabel="currencyname"
            bindValue="_id" placeholder="Select currency" [formControlName]="formbase.key"></ng-select>
          <div *ngIf="formbase.required">
            <div *ngIf="!isValid && forcevalidation" class="error-msg">
              <div *ngIf="newadForm.controls['currency'].pristine && newadForm.controls['currency'].errors.required">currency is
                required.</div>
            </div>
          </div> -->
        </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngSwitchCase="'productname'">
        <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
        <input type="text" class="input-info" [formControlName]="formbase.key">
        <div *ngIf="formbase.required">
          <div *ngIf="!isValid && forcevalidation" class="error-msg">
            <div *ngIf="newadForm.controls['productname'].pristine && newadForm.controls['productname'].errors?.required">Name
              is required.</div>
            <div *ngIf="newadForm.controls['productname'].dirty && newadForm.controls['productname'].errors?.required">Name
              is required.</div>
          </div>
        </div>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngSwitchCase="'description'">
        <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
        <textarea   class="input-info input-note" [formControlName]="formbase.key"></textarea>
        <div *ngIf="formbase.required">
          <div *ngIf="!isValid && forcevalidation" class="error-msg">
            <div *ngIf="newadForm.controls['description'].pristine && newadForm.controls['description'].errors?.required">Description
              is required.</div>
            <div *ngIf="newadForm.controls['description'].dirty && newadForm.controls['description'].errors?.required">Description
              is required.</div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'amountforsale'">
        <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
        <input type="number" [min]=1 class="input-info" [formControlName]="formbase.key">
        <div *ngIf="formbase.required">
          <div *ngIf="!isValid && forcevalidation" class="error-msg">
            <div *ngIf="newadForm.controls['amountforsale'].pristine && newadForm.controls['amountforsale'].errors.required">Amount
              For Sale is required.</div>
            <div *ngIf="newadForm.controls['amountforsale'].dirty && newadForm.controls['amountforsale'].errors?.required">Amount
              For Sale is required.</div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'amountunit'">
          <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
          <select class="form-control" [formControlName]="formbase.key" > 
              <option [ngValue]="null" [disabled]="true">Select Type of Unit</option>
              <option *ngFor="let item of formbase['options']" [ngValue]="item._id">{{item.amountunit}}</option>
          </select>
          <div *ngIf="formbase.required">
            <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                <div *ngIf="newadForm.controls['amountunit'].pristine && newadForm.controls['amountunit'].errors.required">Amount Unit is  required.</div>
            </div>
          </div>
        <!-- <span class="label-text">{{formbase.label}}<span *ngIf="formbase.required">*</span></span>
        <ng-select [searchable]="false" #amountforsale [items]="formbase.options" [selectOnTab]="true" bindLabel="amountunit"
          bindValue="_id" placeholder="Select Amount Unit" [formControlName]="formbase.key">
        </ng-select>
        <div *ngIf="formbase.required">
          <div *ngIf="!isValid && forcevalidation" class="error-msg">
            <div *ngIf="newadForm.controls['amountunit'].pristine && newadForm.controls['amountunit'].errors.required">Amount
              Unit is required.</div>
          </div>
        </div> -->
      </div>
      <div *ngSwitchCase="'priceperunit'">
        <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
        <input type="number" class="input-info" [formControlName]="formbase.key" [min]=1>
        <div *ngIf="formbase.required">
          <div *ngIf="!isValid && forcevalidation" class="error-msg">
            <div *ngIf="newadForm.controls['priceperunit'].pristine && newadForm.controls['priceperunit'].errors.required">Price
              Per Unit is required.</div>
            <div *ngIf="newadForm.controls['priceperunit'].dirty && newadForm.controls['priceperunit'].errors?.required">Price
              Per Unit is required.</div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'pricenegotiable'">
        <div *ngIf="formbase.value==='yes'">
          <input [name]="formbase.key" [type]="formbase.type" [formControlName]="formbase.key" [checked]="checkboxstatus === formbase.value? 'checked': ''"
            [value]="formbase.value" ><label for="r1" class="label-text" >{{formbase.value |
            titlecase}}</label>
  
        </div>
        <div *ngIf="formbase.value==='no'">
  
          <input [name]="formbase.key" [type]="formbase.type" [formControlName]="formbase.key" [checked]="checkboxstatus === formbase.value? 'checked': ''"
            [value]="formbase.value" ><label for="r2" class="label-text">{{formbase.value |
            titlecase}}</label>
        </div>
      </div>
      <div *ngSwitchCase="'status'">
          <div *ngIf="formbase.value==='commercial'">
            <input [name]="formbase.key" [type]="formbase.type" [formControlName]="formbase.key" [checked]="commercialpvtstatus == formbase.value? 'checked': ''"
              [value]="formbase.value"><label for="r1" class="label-text" >{{formbase.value |
              titlecase}}</label>
    
          </div>
          <div *ngIf="formbase.value==='private'">
    
            <input [name]="formbase.key" [type]="formbase.type" [formControlName]="formbase.key" [checked]="commercialpvtstatus == formbase.value ? 'checked': ''"
              [value]="formbase.value" ><label for="r2" class="label-text">{{formbase.value |
              titlecase}}</label>
          </div>
        </div>
    </div>
  </div>