<!--List Products-->
<div class="group-product layout1">
	<div class="kt-tab nav-tab-style1">

			<div>

				<!-- <div *ngFor="let pitems of allproducts; let i = index">
					<div *ngFor="let item of allproducts[i].productid">
						{{item | json}}
					</div>
				</div> -->
				<tabset class="featured">
						<div class="section-head box-has-content">
								<h4 class="section-title">Featured Products	<span *ngIf="!allproducts?.length">: Loading...</span></h4>
								</div>
					<span *ngFor="let item of featurelist">
 
						<tab #staticTabs *ngIf="item.productlist.length > 0" heading="{{item.categoryname}}" (select)='onSelect($event)'>
							<owl-carousel #owlElement *ngIf= "item.productlist" [options]="{items: 5, dots: false, autoplay: false, smartSpeed:800, navigation: true ,
								responsive: { '0': {  items: 1, margin: 0 },
											  '480': { items: 2,  margin: 0 },
											  '700': { items: 3, margin: -1 },
											  '768': { items: 2 },
											  '1025': { items: 3 },
											  '1200': { items: 5 }
											}
											}" [items]="images" [carouselClasses]= "owlclasses">
									<div class="row-item" *ngFor="let products of item.productlist;let i = index">
								<div class="product-item layout1" *ngFor="let product of products;let j = index">

									<div class="product-inner equal-elem" (mouseover)="mousehoverowl()" (mouseleave)="mouseleaverowl()">
										<div class="thumb">
											<a href="javascript:void(0);" class="quickview-button" (click)="quickview(product)">
												<span class="icon">
													<i class="fa fa-eye" aria-hidden="true"></i>
												</span> Quick View</a>
											<a routerLink="product/detail/{{ product._id }}" class="thumb-link">
												<img src="{{product.pimage[0]}}" alt="">
											</a>
										</div>
										<div class="info">
											<a routerLink="product/detail/{{ product._id }}" class="product-name">
												{{ product.pname | titlecase}}
											</a>
											<div class="price">
												<span>${{ product.saleamount }}</span>
											</div>
										</div>
										<div class="group-button">
											<div class="inner">
												<a routerLink="product/detail/{{ product._id }}" class="add-to-cart">
													<span class="text">Contact</span>
												</a>
												<!-- <a href="#" class="compare-button">
													<i class="fa fa-exchange" aria-hidden="true"></i>
												</a>
												<a href="#" class="wishlist-button">
													<i class="fa fa-heart-o" aria-hidden="true"></i>
												</a> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							</owl-carousel>
						</tab>
					</span>
				</tabset>
			</div>
		</div>
		<!-- <div class="tab-content">
			<div id="tab1" class="tab-panel active">
				<div class="owl-carousel product-list-owl nav-style2 equal-container" data-autoplay="false" data-nav="true" data-dots="false"
				 data-loop="false" data-slidespeed="800" data-margin="0" data-responsive='{"0":{"items":1}, "480":{"items":2,"margin":0},"700":{"items":3,"margin":-1}, "768":{"items":2}, "1025":{"items":3}, "1200":{"items":5}}'>
					<div class="row-item">
						<div class="product-item layout1">
							<div class="product-inner equal-elem">
								<div class="thumb">
									<a href="#" class="quickview-button">
										<span class="icon">
											<i class="fa fa-eye" aria-hidden="true"></i>
										</span> Quick View</a>
									<a href="detail.html" class="thumb-link">
										<img src="images/product1.jpg" alt="">
									</a>
								</div>
								<div class="info">
									<a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
									<div class="price">
										<span>$350.00</span>
									</div>
								</div>
								<div class="group-button">
									<div class="inner">
										<a href="#" class="add-to-cart">
											<span class="text">ADD TO CART</span>
											<span class="icon">
												<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
											</span>
										</a>
										<a href="#" class="compare-button">
											<i class="fa fa-exchange" aria-hidden="true"></i>
										</a>
										<a href="#" class="wishlist-button">
											<i class="fa fa-heart-o" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
<!-- </div> -->
<!--/List Products-->
