<app-header-common></app-header-common>
<div class="main-content shop-page main-content-grid">
		<div class="container">
			<div class="breadcrumbs">
					<a href="user/account">My Account</a>
			</div>
			<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 content-offset">
							<div class="categories-content">
									<div class="login-register-form content-form">
											<h4 class="shop-title">Change Password</h4>
											<div class="product-container auto-clear grid-style equal-container box-has-content">
                     
													<form [formGroup]="registerForm">
															<div class="register-form">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h5 class="note-title">All ( * ) fields are required</h5>
                                        <span class="label-text">Email Address <span>*</span></span>
                                        <input type="email" class="input-info" required>
                                        <span class="label-text">Current Password<span>*</span></span>
                                        <input type="email" class="input-info" formControlName="changepassword" required>
                                        <small>We need your current password to confirm your changes</small>
                                        <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                          <span class="label-text">New Password <span>*</span></span>
                                          <input type="password"  formControlName="password"  class="input-info">
                                          <div *ngIf="registerForm.invalid && formsubmitted" class="error-msg">
                                            <div class="text-danger" *ngIf="!!registerForm.controls['password'].pristine || !!registerForm.controls['password'].errors?.required">Password is required.</div>
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                          <span class="label-text">Confirm Password <span>*</span></span>
                                          <input type="password"  formControlName="confirm_password"  class="input-info">
                                          <div *ngIf="registerForm.invalid && formsubmitted" class="error-msg">
                                            <div class="text-danger" *ngIf="!!registerForm.controls['confirm_password'].pristine || !!registerForm.controls['confirm_password'].errors?.required">Confirm Password is required.</div>
                                          </div>
                                          <div *ngIf="registerForm.invalid && formsubmitted && registerForm.controls['confirm_password'].dirty" class="error-msg">
                                            <div class="text-danger" *ngIf="!!registerForm.errors?.mismatch && !!registerForm.controls['confirm_password'].errors?.required === false">Password & Confirm Password should be same.</div>
                                         </div>
                                        
                                        </div>
                                      
                                        </div>
                                        <div class="group-button">
                                        <button class="button submit"  (click)="register()">SUBMIT <span class="loading" *ngIf="showloading"><img src="assets/images/loader.gif"></span></button>
                                        <span class="successmsg" [ngClass]="{'bg-danger': error, 'bg-success': success}"  *ngIf="!!usermsg" >{{usermsg}}</span>
                                        </div>
                                    </div>
                                  </div>
															  		
															</div>
															</form>
											</div>
									</div>
									
									</div>
							
						  </div>
      <!-- sidebar -->
      <app-sidebar></app-sidebar>
      <!-- /sidebar-->
			</div>
		</div>
	</div>
	<app-footer></app-footer>