<div class="row content-form">
    <form [formGroup]="sitesettingsForm">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 info-content">
      <div class="contact-form" *ngIf="loading">
          <h5 class="main-title">Site Settings Loading ...</h5>
          </div>
    <div class="contact-form" *ngIf="!loading">
      <h4 class="main-title">Site Settings</h4>
      <!-- <p class="des"></p> -->
      <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span class="label-text">Email Address</span>
              <input type="email" class="input-info" formControlName="email" required>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span class="label-text">Phone Number</span>
              <input type="text"  class="input-info" formControlName="phoneno">
          </div>
        </div>
       
        <span class="label-text">Address</span>
        <textarea rows="8" class="input-info input-note" formControlName="address"></textarea>
        <span class="label-text">Footer Text *</span>
          <input type="text" class="input-info"  formControlName="footertext">
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 info-content">
    <div class="contact-form" *ngIf="!loading">
        <h4 class="main-title">Social Links</h4>
        <span class="label-text">Twitter</span>
        <input type="text" class="input-info"  formControlName="twitter">
        <span class="label-text">Facebook</span>
        <input type="text" class="input-info"  formControlName="facebook">
        <span class="label-text">Pinterest</span>
        <input type="text" class="input-info"  formControlName="pinterest">
        <span class="label-text">Instagram</span>
        <input type="text" class="input-info"  formControlName="instagram">
     
    </div>
  </div>
  <div class="col-lg-12" *ngIf="!loading">
    
      <div class="group-button">
          <button class="button submit"   (click)="savesettings()">
          <span *ngIf="saving">Please Wait ...</span>  
          <span *ngIf="!saving">Save Settings</span>
    </button>
    <span class="successmsg bg-success"   *ngIf="sentsuccess" >{{replymsg}}</span>
  </div>
  </div>
  </form>
</div>

