<div class="col-xs-12 col-sm-4 col-md-4">
	<div class="widget widget-recent-post">
		<h5 class="widgettitle">Most viewed</h5>
		<ul class="list-recent-posts">
			<li class="product-item" *ngFor="let item of most_viewed_products">
				<div class="thumb">
					<a routerLink="product/detail/{{ item.productid._id }}">
						<img src="{{ item.productid.pimage[0] }}" alt="">
					</a>
				</div>
				<div class="info">
					<a routerLink="product/detail/{{ item.productid._id }}" class="product-name">
						{{ item.productid.pname | titlecase}}
					</a>
					<div class="price">
						<span class="ins">{{ item.productid.unitprice }} {{item.productid.currencytype| uppercase}}</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
