<div [formGroup]="newadForm">

  <div [ngSwitch]="formbase?.key">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngSwitchCase="'category'">
        <span class="label-text">{{formbase.label}}<span>*</span></span>
        <select class="form-control" [formControlName]="formbase.key" (change)="getSubcatList($event)"> 
            <option value="" selected="selected">Select category</option>
            <option *ngFor="let item of formbase['options']" value="{{item._id}}">{{item.catname}}</option>
          </select>
      <div *ngIf="!isValid && forcevalidation" class="error-msg">
          <div *ngIf="newadForm.controls['category'].pristine && newadForm.controls['category'].errors.required">Category is required.</div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngSwitchCase="'subcatnames'">
      <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
      <select class="form-control" [formControlName]="formbase.key" (change)="getSubcatimages($event)"> 
          <option value="none" [selected]="'selected'">Select Subcategory</option>
          <option *ngFor="let item of formbase['options']" value="{{item._id}}">{{item.subcatname}}</option>
        </select>
      <div *ngIf="!isValid && forcevalidation" class="error-msg">
   
          <div *ngIf="newadForm.controls['subcatnames'].pristine && newadForm.controls['subcatnames'].errors.required">Subcategory is required.</div>
        </div>
    </div>
    <!-- <div class="col-xs-12 " *ngSwitchCase="'region'">
      <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
    
      <select class="form-control" [formControlName]="formbase.key"> 
          <option [value]="" [selected]="'selected'">Select Region</option>
          <option *ngFor="let item of formbase['options']" value="{{item._id}}">{{item.regionname}}</option>
        </select>
      <div *ngIf="formbase.required">
        <div *ngIf="!isValid && forcevalidation" class="error-msg">
          <div *ngIf="newadForm.controls['region'].pristine && newadForm.controls['region'].errors.required">Region is
            required.</div>
        </div>
      </div>
    </div> -->
    <div *ngSwitchCase="'country'">
        <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
        <select class="form-control" [formControlName]="formbase.key"  (change)="getCities($event)"> 
            <option  value="" selected="selected">Select Country</option>
            <option *ngFor="let item of formbase['options']" value="{{item}}">{{item}}</option>
        </select>
          <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
              <div *ngIf="newadForm.controls['country'].pristine && newadForm.controls['country'].errors.required">Country is  required.</div>
          </div>
      </div>
      <div  *ngSwitchCase="'city'">
          <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
          <select class="form-control" [formControlName]="formbase.key" > 
              <option [ngValue]="null" [disabled]="true">Select city</option>
              <option *ngFor="let item of formbase['options']" [ngValue]="item">{{item}}</option>
          </select>
            <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                <div *ngIf="!newadForm.controls['city'].pristine && newadForm.controls['city'].errors.required">City is  required.</div>
            </div>
        </div>
        <div *ngSwitchCase="'condition'">
            <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
            <select class="form-control" [formControlName]="formbase.key"  (change)="getCities($event)"> 
                <option  [ngValue]="null" [disabled]="true">Condition</option>
                <option *ngFor="let item of formbase['options']" [ngValue]="item">{{item}}</option>
            </select>
            <div *ngIf="formbase.required">
              <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                  <div *ngIf="newadForm.controls['condition'].pristine && newadForm.controls['condition'].errors.required">Condition is  required.</div>
              </div>
            </div>
          </div>
          <div  *ngSwitchCase="'yearmfg'">
              <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
              <select class="form-control" [formControlName]="formbase.key" > 
                  <option [ngValue]="null" [disabled]="true">Year of manufacture</option>
                  <option *ngFor="let item of formbase['options']" [ngValue]="item">{{item}}</option>
              </select>
              <div *ngIf="formbase.required">
                <div *ngIf="!isValid && forcevalidation"  class="error-msg top-minus-20">
                    <div *ngIf="newadForm.controls['yearmfg'].pristine && newadForm.controls['yearmfg'].errors.required">Year of manufacture is  required.</div>
                </div>
              </div>
            </div>
    <div *ngSwitchCase="'currency'">
        <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
        <!-- {{formbase | json}} -->
        <select class="form-control" [formControlName]="formbase.key"> 
            <option value="" selected="selected">Select currency</option>
            <option *ngFor="let item of formbase['options']" value="{{item._id}}">{{item.currencyname}}</option>
          </select>
        
        <div *ngIf="formbase.required">
          <div *ngIf="!isValid && forcevalidation" class="error-msg">
            <div *ngIf="newadForm.controls['currency'].pristine && newadForm.controls['currency'].errors.required">Currency is
              required.</div>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngSwitchCase="'manufacture'">
          <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
          <input type="text" class="input-info" [formControlName]="formbase.key">
          <div *ngIf="formbase.required">
            <div *ngIf="!isValid && forcevalidation" class="error-msg">
              <div *ngIf="newadForm.controls['manufacture'].pristine && newadForm.controls['manufacture'].errors?.required">Manufacture
                is required.</div>
              <div *ngIf="newadForm.controls['manufacture'].dirty && newadForm.controls['manufacture'].errors?.required">Manufacture
                is required.</div>
            </div>
          </div>
        </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngSwitchCase="'productname'">
      <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
      <input type="text" class="input-info" [formControlName]="formbase.key">
      <div *ngIf="formbase.required">
        <div *ngIf="!isValid && forcevalidation" class="error-msg">
          <div *ngIf="newadForm.controls['productname'].pristine && newadForm.controls['productname'].errors?.required">Name
            is required.</div>
          <div *ngIf="newadForm.controls['productname'].dirty && newadForm.controls['productname'].errors?.required">Name
            is required.</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngSwitchCase="'description'">
      <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
      <textarea   class="input-info input-note" [formControlName]="formbase.key" [rows]="5" [cols]="100"></textarea>
      <div *ngIf="formbase.required">
        <div *ngIf="!isValid && forcevalidation" class="error-msg">
          <div *ngIf="newadForm.controls['description'].pristine && newadForm.controls['description'].errors?.required">Description
            is required.</div>
          <div *ngIf="newadForm.controls['description'].dirty && newadForm.controls['description'].errors?.required">Description
            is required.</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngSwitchCase="'addinfo'">
        <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
        <textarea   class="input-info input-note" [formControlName]="formbase.key" [rows]="5" [cols]="100"></textarea>
        <div *ngIf="formbase.required">
          <div *ngIf="!isValid && forcevalidation" class="error-msg">
            <div *ngIf="newadForm.controls['addinfo'].pristine && newadForm.controls['addinfo'].errors?.required">Additional Information
              is required.</div>
            <div *ngIf="newadForm.controls['addinfo'].dirty && newadForm.controls['addinfo'].errors?.required">Additional Information
              is required.</div>
          </div>
        </div>
      </div>
    <div *ngSwitchCase="'saleamount'">
      <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
      <input type="number" [min]=1 class="input-info" [formControlName]="formbase.key">
      <div *ngIf="formbase.required">
        <div *ngIf="!isValid && forcevalidation" class="error-msg">
          <div *ngIf="newadForm.controls['saleamount'].pristine && newadForm.controls['saleamount'].errors.required">Amount
            For Sale is required.</div>
          <div *ngIf="newadForm.controls['saleamount'].dirty && newadForm.controls['saleamount'].errors?.required">Amount
            For Sale is required.</div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'amtunit'">
      <span class="label-text">{{formbase.label}}<span *ngIf="formbase.required">*</span></span>

      <select class="form-control" [formControlName]="formbase.key"> 
          <option [value]="" [selected]="'selected'">Select Type of Unit</option>
          <option *ngFor="let item of formbase['options']" value="{{item._id}}">{{item.amountunit}}</option>
        </select>
      <div *ngIf="formbase.required">
        <div *ngIf="!isValid && forcevalidation" class="error-msg">
          <div *ngIf="newadForm.controls['amtunit'].pristine && newadForm.controls['amtunit'].errors.required">Amount
            Unit is required.</div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'unitprice'">
      <span class="label-text">{{formbase.label}} <span *ngIf="formbase.required">*</span></span>
      <input type="number" class="input-info" [formControlName]="formbase.key" [min]=1>
      <div *ngIf="formbase.required">
        <div *ngIf="!isValid && forcevalidation" class="error-msg">
          <div *ngIf="newadForm.controls['unitprice'].pristine && newadForm.controls['unitprice'].errors.required">Price
            Per Unit is required.</div>
          <div *ngIf="newadForm.controls['unitprice'].dirty && newadForm.controls['unitprice'].errors?.required">Price
            Per Unit is required.</div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'priceneg'">
      <div *ngIf="formbase.value==='yes'">
        <input [name]="formbase.key" [type]="formbase.type" [formControlName]="formbase.key" [checked]="formbase.value==='yes'? '': 'checked'"
          [value]="formbase.value" ><label for="r1" class="label-text" >{{formbase.value |
          titlecase}}</label>

      </div>
      <div *ngIf="formbase.value==='no'">

        <input [name]="formbase.key" [type]="formbase.type" [formControlName]="formbase.key" [checked]="formbase.value==='no'? 'checked': ''"
          [value]="formbase.value" ><label for="r2" class="label-text">{{formbase.value |
          titlecase}}</label>
      </div>
    </div>
    <div *ngSwitchCase="'status'">
        <div *ngIf="formbase.value==='commercial'">
          <input [name]="formbase.key" [type]="formbase.type" [formControlName]="formbase.key" [checked]="formbase.value==='commercial'? '': 'checked'"
            [value]="formbase.value"><label for="r1" class="label-text" >{{formbase.value |
            titlecase}}</label>
  
        </div>
        <div *ngIf="formbase.value==='private'">
  
          <input [name]="formbase.key" [type]="formbase.type" [formControlName]="formbase.key" [checked]="formbase.value==='private'? 'checked': ''"
            [value]="formbase.value" ><label for="r2" class="label-text">{{formbase.value |
            titlecase}}</label>
        </div>
      </div>
  </div>
</div>