<div [formGroup]="newadForm">
    <div class="fieldrow">
        <div class="field">{{formbase.label}}</div>
        <div class="fieldvalidcontrol">
            <div class="checkbox">
                <label>
                  <input  [formControlName]="formbase.key" [checked]="formbase.status" [type]="type"  [value]="formbase.status" (change)="changed($event)"> Required
                </label>
              </div>
        </div>
        <div class="fieldbutton text-right">
          <button class="btn btn-danger" (click)="removeField(formbase.key, formbase.label)">
              <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
</div>