<!-- <footer>
  <div class="footer layout2 layout3 customize-footer">
    <div class="container">
      <div class="footer-note layout2">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 left-content">
            <div class="coppy-right">
              <h3 class="content">© Copyright 2018 <span class="site-name"> TechOne</span> <span class="text"> Multipurpose PSD. </span>All rights reserved</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 right-content">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->