
<div class="modal-content modal-md text-center">
    <div class="modal-body">
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
         </button> -->
      <!-- <div class="row">
        <div class="col-md-12">
            <h4>Are you sure to delete this item?</h4>
            {{modaldata | json}}
        </div>
       
      </div> -->
      <h4>Are you sure to delete this item?</h4>
    <button type="button" class="btn btn-success" (click)="confirmdelete()" >Yes</button>  
    <button type="button" class="btn btn-info" (click)="bsModalRef.hide()" >No</button>
      <!-- <div class="row">
          <div class="col-sm-6 text-right">
              <button class="btn btn-success" (click)="confirmdelete()">Yes</button>
          </div>
          <div class="col-sm-6 text-left">
              <button class="btn btn-info" (click)="bsModalRef.hide()">No</button>
          </div>
      </div> -->
    </div>
    </div>
    
    