<div class="breadcrumbs">
	<a routerLink="../../category/list">Subcategory</a> >
	<span class="current"> Edit</span>
</div>

<app-message *ngIf="message" [message]="message" [type]="message_type"></app-message>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	<form [formGroup]="subcategoryForm" (submit)="updateSubcategoryDetails()" class="form-horizontal">
		<div class="form-group" [ngClass]="displayFieldCss(subcategoryForm, 'subcatname')">
			<label class="control-label col-sm-3" for="subcatname">Subcategory Name:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="subcatname" placeholder="Enter category name" formControlName="subcatname" id="subcatname"
				 [(ngModel)]="subcatname">
				<span class="help-block" *ngIf="isFieldValid(subcategoryForm, 'subcatname')">Subcategory name is required</span>
			</div>
		</div>
		<div class="form-group" [ngClass]="displayFieldCss(subcategoryForm, 'catid')">
			<label class="control-label col-sm-3" for="catid">Category:</label>
			<div class="col-sm-9">
				<select class="form-control" formControlName="catid" id="catid" [(ngModel)]="catid">
					<option value="">-- Select category --</option>
					<option *ngFor="let category of categories" value="{{category._id}}">{{category.catname}}</option>
				</select>
				<span class="help-block" *ngIf="isFieldValid(subcategoryForm, 'catid')">Category is required</span>
			</div>
		</div>
		<div class="form-group" [ngClass]="displayFieldCss(subcategoryForm, 'status')">
			<label class="control-label col-sm-3" for="status">Status:</label>
			<div class="col-sm-9">
				<select class="form-control" formControlName="status" id="status" [(ngModel)]="status">
					<option value="1">Active</option>
					<option value="0">In-Active</option>
				</select>
				<span class="help-block" *ngIf="isFieldValid(subcategoryForm, 'status')">Subcategory status is required</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<!-- <button type="submit" class="btn btn-success" [disabled]="!subcategoryForm.valid">Submit</button> -->
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</div>
	</form>
</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h3>Subcategory Image</h3>
				<img *ngIf="!uploader?.queue?.length" src="http://localhost:4200/assets/images/products/{{defaultimage}}?v={{defaultimage}}" />
				<div class="alert alert-danger" role="alert" *ngIf="showimageerror">
						<strong>Image Error : </strong> Please upload subcategory image (Allowed Extension: .JPG) 
					</div>
					<div class="alert alert-success" role="alert" *ngIf="uploadsuccess">
						 New subcategory image updated Successfully. 
						</div>
						<h3 class="top-mar-5">Update Subcategory Image</h3>
				<input type="file" name="file" ng2FileSelect [uploader]="uploader"  *ngIf="uploader?.queue?.length < 1"/>
				<table class="table" *ngIf="uploader?.queue?.length">
						<thead>
						<tr>
							<th width="50%">Name</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let item of uploader.queue">
								<div class="map" *ngIf="uploader?.queue?.length">
					
										<img src="" imgPreview [image]="item?._file" class="media-object" />
										<div class="media-body">
											   <p>{{ item?.file?.name }}</p>
										   </div>
									   </div>
							
							<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
							<!-- <td *ngIf="uploader.isHTML5">
								<div class="progress" style="margin-bottom: 0;">
									<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
								</div>
							</td> -->
							<td class="text-center">
							   <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>   
								<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
								<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
							</td>
							<td nowrap class="buttonblock">
								<button type="button" class="btn btn-success btn-xs"
										(click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
									<span class="glyphicon glyphicon-upload"></span> Upload
								</button> 
								<button type="button" class="btn btn-warning btn-xs"
										(click)="item.cancel()" [disabled]="!item.isUploading">
									<span class="glyphicon glyphicon-ban-circle"></span> Cancel
								</button> 
								<button type="button" class="btn btn-danger btn-xs"
										(click)="item.remove()">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td>
						</tr>
						</tbody>
					</table>
					   <div *ngIf="uploader?.queue?.length">
							<div>

								<div class="progress" >
									<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
								</div>
							</div>
						</div>
	
</div>