<div class="left-main-top-content">
	<div class="vertical-wapper parent-content">
		<div class="block-title show-content">
			<span class="icon-bar">
				<span></span>
				<span></span>
				<span></span>
			</span>
			<span class="text">Menus</span>
		</div>
		<div class="vertical-content hidden-content show-up ">
			<ul class="vertical-menu ovic-clone-mobile-menu">
				<li>
					<a routerLink="dashboard" class="ovic-menu-item-title" title="Dashboard">
						<span class="icon">
							<i class="glyphicon glyphicon-th-large"></i>
						</span> Dashboard</a>
				</li>

				<li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="Category">
						<span class="icon">
							<i class="glyphicon glyphicon-tasks"></i>
						</span> Category</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="category/list" class="ovic-menu-item-title" title="List Category">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> List
							</a>
						</li>
						<li>
							<a routerLink="category/add" class="ovic-menu-item-title" title="Add Category">
								<span class="icon">
									<i class="glyphicon glyphicon-plus"></i>
								</span> Add
							</a>
						</li>
						<li>
							<a routerLink="subcategory/add" class="ovic-menu-item-title" title="Add Subcategory">
								<span class="icon">
									<i class="glyphicon glyphicon-plus"></i>
								</span> Add Subcategory
							</a>
						</li>
					</ul>
				</li>

				<li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="Product">
						<span class="icon">
							<i class="glyphicon glyphicon-tree-deciduous"></i>
						</span> Product</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="product/list" class="ovic-menu-item-title" title="List Product">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> List
							</a>
						</li>
					</ul>
				</li>

				<li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="User">
						<span class="icon">
							<i class="glyphicon glyphicon-user"></i>
						</span> User</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="user/list" class="ovic-menu-item-title" title="List User">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> List
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>