<div class="left-main-top-content">
	<div class="vertical-wapper parent-content">
		<div class="block-title show-content">
			<span class="icon-bar">
				<span></span>
				<span></span>
				<span></span>
			</span>
			<span class="text">Menus</span>
		</div>
		<div class="vertical-content hidden-content show-up ">
			<ul class="vertical-menu ovic-clone-mobile-menu">
				<li>
					<a routerLink="dashboard" class="ovic-menu-item-title" title="Dashboard">
						<span class="icon">
							<i class="glyphicon glyphicon-th-large"></i>
						</span> Dashboard</a>
				</li>

				<li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="Category">
						<span class="icon">
							<i class="glyphicon glyphicon-tasks"></i>
						</span> Category</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="category/list" class="ovic-menu-item-title" title="List Category">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> List
							</a>
						</li>
						<li>
							<a routerLink="category/add" class="ovic-menu-item-title" title="Add Category">
								<span class="icon">
									<i class="glyphicon glyphicon-plus"></i>
								</span> Add
							</a>
						</li>
						<li>
							<a routerLink="subcategory/add" class="ovic-menu-item-title" title="Add Subcategory">
								<span class="icon">
									<i class="glyphicon glyphicon-plus"></i>
								</span> Add Subcategory
							</a>
						</li>
					</ul>
				</li>

				<li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="Product">
						<span class="icon">
							<i class="glyphicon glyphicon-tree-deciduous"></i>
						</span> Product</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="product/list" class="ovic-menu-item-title" title="List Product">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Make Featured
							</a>
						</li>
						<li>
							<a routerLink="product/bestseller" class="ovic-menu-item-title" title="List Best Seller">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Make Bestseller
							</a>
						</li>
						<li>
							<a routerLink="product/mostviewed" class="ovic-menu-item-title" title="List Most Viewed">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Make Most Viewed
							</a>
						</li>
						<li>
							<a routerLink="product/onsale" class="ovic-menu-item-title" title="List Onsale">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Make Onsale 
							</a>
						</li>
						<li>
							<a routerLink="product/newarrivals" class="ovic-menu-item-title" title="List New Arrivals">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Make New Arrivals
							</a>
						</li>
						<li>
							<a routerLink="product/delete" class="ovic-menu-item-title" title="Product delete">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Delete Product
							</a>
						</li>
						
					</ul>
				</li>

				<li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="User">
						<span class="icon">
							<i class="glyphicon glyphicon-user"></i>
						</span> User</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="user/list" class="ovic-menu-item-title" title="List User">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> List
							</a>
						</li>
					</ul>
				</li>
				 <li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="User">
						<span class="icon">
							<i class="glyphicon glyphicon-user"></i>
						</span>Reported Ads</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="reportedads/list" class="ovic-menu-item-title" title="List reports">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> List
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="User">
						<span class="icon">
							<i class="glyphicon glyphicon-user"></i>
						</span>Pages</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="edit/about" class="ovic-menu-item-title" title="edit page">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> About
							</a>
						</li>
						<li>
							<a routerLink="edit/termsofuse" class="ovic-menu-item-title" title="edit page">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Terms of use
							</a>
						</li>
						<li>
							<a routerLink="edit/privacypolicy" class="ovic-menu-item-title" title="edit page">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Privacy Policy
							</a>
						</li>
						<li>
							<a routerLink="edit/termsandcondition" class="ovic-menu-item-title" title="edit page">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span> Terms and condition
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-item-has-children has-megamenu">
					<a href="javascript:void(0);" class="ovic-menu-item-title" title="User">
						<span class="icon">
							<i class="glyphicon glyphicon-user"></i>
						</span>Settings</a>
					<a href="javascript:void(0);" class="toggle-sub-menu"></a>
					<ul class="vertical-menu ovic-clone-mobile-menu">
						<li>
							<a routerLink="edit/sitesettings" class="ovic-menu-item-title" title="site settings">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>
								</span>Site Settings
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>