<div>
	<!--Header primary-->
	<app-headerprimary></app-headerprimary>
	<!--/Header primary-->

	<!--Content slider-->
	<div class="main-content home-page main-content-home1">
		<div class="container">
			<!--slider-->
			<app-slider></app-slider>
			<!--/slider-->
			<!--featured Products small-->
			<div class="row">
			<div class="col-md-12">
					<app-featuredsmall></app-featuredsmall>
			</div>
			</div>
			
			<!--/featured Products small-->
			<!--Banner-->
			<!-- <app-banner></app-banner> -->
			<!--/Banner-->
			<!--featured Products large-->
			<app-featuredlarge></app-featuredlarge>
			<!--/featured Products large-->
			<!--Logo Brand-->
			<app-brands></app-brands>
			<!--/Logo brand-->
			<!--Recent Post-->
			<div class="post">
				<div class="row">
					<app-mostviewed></app-mostviewed>
					<app-onsale></app-onsale>
					<app-newarrivals></app-newarrivals>
				</div>
			</div>
			<!--/Recent Post-->
		</div>
		<!--/container-->
	</div>
	<!--/Content-->
</div>
<!--/special container-->
<app-footer></app-footer>