<div class="row">
	<div class="white-bg clearfix">
		<div class="col-md-6 cont-heading">
			<h2>User list</h2>
			<h3>Registered user list</h3>
			<span class="side-toggle-menu visible-xs visible-sm"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="white-bg clearfix breadcrumb">
		<div class="col-md-12">
			<ul>
				<li><a routerLink="../../user/list"><i class="fa fa-list-alt" aria-hidden="true"></i> User</a></li>
				<li><span>List</span></li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="white-bg clearfix breadcrumb">
		<div class="col-md-12">
			<div class="table-responsive">
				<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
					<thead>
						<tr *ngIf="userLoaded">
							<th class="text-left">First Name</th>
							<th class="text-left">Middle Name</th>
							<th class="text-left">Last Name</th>
							<th class="text-left">Email</th>
							<th class="text-left">Date Created</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="!userLoaded; else elseBlock">
							<td colspan="5" class="text-center">
								<h5>
									<i class="fa fa-spinner fa-spin fa-lg"></i> Loading users list ...
								</h5>
							</td>
						</tr>
						<ng-template #elseBlock>
							<tr *ngFor="let user of users" (click)="getUserDetails(user._id)">
								<td class="uc-first">{{ user.firstname }}</td>
								<td class="uc-first">{{ user.middlename }}</td>
								<td class="uc-first">{{ user.lastname }}</td>
								<td>{{ user.email }}</td>
								<td class="text-center">{{ user.created_at | date: 'dd-MM-yyyy h:m a' }}</td>
							</tr>
						</ng-template>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>