<div class="breadcrumbs">
	<a routerLink="../../user/list">User</a> >
	<span class="current"> List</span>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
	<div class="table-responsive">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
					<thead>
					  <tr *ngIf="userLoaded">
							<th class="text-left">First Name</th>
							<th class="text-left">Middle Name</th>
							<th class="text-left">Last Name</th>
							<th class="text-left">Email</th>
							<th class="text-left">Date Created</th>
					  </tr>
					</thead>
					<tbody>
							<tr *ngIf="!userLoaded; else elseBlock">
									<td colspan="5" class="text-center">
										<h5>
											<i class="fa fa-spinner fa-spin fa-lg"></i> Loading users list ...
										</h5>
									</td>
								</tr>
								<ng-template #elseBlock>
										<tr *ngFor="let user of users" (click)="getUserDetails(user._id)">
												<td class="uc-first">{{ user.firstname }}</td>
												<td class="uc-first">{{ user.middlename }}</td>
												<td class="uc-first">{{ user.lastname }}</td>
												<td>{{ user.email }}</td>
												<td class="text-center">{{ user.created_at | date: 'dd-MM-yyyy h:m a' }}</td>
											</tr>
								</ng-template>
							
					</tbody>
				  </table>
		<!-- <table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">First Name</th>
					<th class="text-center">Middle Name</th>
					<th class="text-center">Last Name</th>
					<th class="text-center">Email</th>
					<th class="text-center">Date Created</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!userLoaded; else elseBlock">
					<td colspan="3" class="text-center">
						<h5>
							<i class="fa fa-spinner fa-spin fa-lg"></i> Loading users ...
						</h5>
					</td>
				</tr>
				<ng-template #elseBlock>
					<tr *ngFor="let user of users">
						<td class="uc-first">{{ user.firstname }}</td>
						<td class="uc-first">{{ user.middlename }}</td>
						<td class="uc-first">{{ user.lastname }}</td>
						<td>{{ user.email }}</td>
						<td class="text-center">{{ user.created_at | date: 'dd-MM-yyyy h:m a' }}</td>
					</tr>
				</ng-template>
			</tbody>
		</table> -->
	</div>
</div>