<div class="breadcrumbs">
    <a routerLink="../../product/list">User</a> >
    <span class="current">Status</span>
  </div>
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <h3>User Details</h3>
      <h5 *ngIf="userdataloading">Loading User Details</h5>
      <table class="table table-striped" *ngIf="user"> 
      <tbody>
        <tr>
          <td><strong>Name</strong></td>
          <td>{{user.firstname}} {{user.lastname}} </td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{user.email}}</td>
          </tr>
        <tr>
            <td><strong>Phone Number</strong></td>
            <td>{{user.phonenumber}}</td>
          </tr>
          <tr>
              <td><strong>Country</strong></td>
              <td>{{user.usercountrycode.c_fullname}}</td>
            </tr>
      </tbody> 
      </table>
      <div *ngIf="user">
          <form [formGroup]="userStatusForm" (submit)="updateuserstatus()" class="form-inline">
        
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="catid">Status : </label>&nbsp;
                  <select class="form-control" formControlName="userstatus" >
                    <option value="1" selected>Activate</option>
                    <option value="2">Deactivate</option>
                    <option value="3">Delete</option>
                  </select>
                </div>
              </div>
            
              <div class="col-sm-2">
                <!-- <button type="submit" class="btn btn-success pull-left">Submit</button> -->
                <button class="btn btn-success pull-left"  type="submit">
                    <span *ngIf="showloading">Please Wait ...</span>  
                    <span *ngIf="!showloading">Submit</span>
              </button>
              </div>
            </form>
      </div>
      
    </div>
    <div *ngIf="successmsg">
        <div class="alert alert-success" role="alert">{{msg}}</div>
    </div>
  </div>
  