<div class="row content-form">
  <div class="col-lg-12">
      <h3>Page: {{title}} <span><strong>Updated At:   </strong> <i class="fa fa-calendar" aria-hidden="true"></i> {{updatedAT | date:'medium'}}</span></h3>
      <form [formGroup]="pageForm">
        <fieldset>
          <legend>Editor</legend>
          <ck-editor *ngIf ="!loading; else elseBlock" skin="moono-lisa" [config]="editorConfig"  [language]="language" [fullPage]="false" formControlName="pagecontent"></ck-editor>
          <ng-template #elseBlock>Loading content ...</ng-template>
        </fieldset>
        <div class="group-button" *ngIf ="!loading">
            <button class="button submit"   (click)="saveapage()">
                <span *ngIf="saving">Please Wait ...</span>  
                <span *ngIf="!saving">Save</span>
          </button>
          <span class="successmsg bg-success"   *ngIf="savesuccess" ><i class="fa fa-check" aria-hidden="true"></i> <strong>{{successmsg}}</strong></span>
        </div>  
 
      </form>
  </div>
 
</div>