<header>
	<div class="header layout5">
		<div class="container-fluide">
			<div class="topbar layout1 box-has-content">
				<ul class="menu-topbar pull-right">
					<li class="currencies menu-item-has-children">
						<a href="javascript:void(0);" class="toggle-sub-menu">Options</a>
						<ul class="list-currencies sub-menu">
							<li>
								<a routerLink="admin/profile">
									<i class="glyphicon glyphicon-user"></i> Profile
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" (click)="logout()">
									<i class="glyphicon glyphicon-off"></i> Logout
								</a>
							</li>
						</ul>
					</li>&nbsp;
					<span class="">Welcome
						<strong>Admin</strong> &nbsp;</span>
				</ul>
			</div>
		</div>
	</div>
</header>