.pagination li:after {
    content: "" !important;
}
.product-list-heading {
    margin-bottom: 15px;
    border-bottom: 1px solid #cfcfcf;
}
.product-details {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cfcfcf;
}
.product-details img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product-item .group-button .add-to-cart{
    width: 100%;
    cursor: pointer;
}
.product-list {
    min-height: 700px;
}
.product-item .group-button button{
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #666;
    margin: 4px 0 4px 4px;
    background-color: #fff;
}
.product-item .group-button button:hover {
    background-color: #35b035;
    color: #ffffff;
}