<app-header-common></app-header-common>
<div class="main-content shop-page main-content-detail">
  <div class="container">
    <div class="breadcrumbs">
      <a href="#">Home</a> \
      <span class="current">Detail</span>
    </div>
    <div class="row about-info content-form">
      <div class="col-xs-12">
          <div class="info" style="min-height:500px">
              <h3 class="main-title">Terms and condition</h3>
              <div [innerHTML]="pagecontent"></div>
               </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>