.message {
    position: absolute;
    top: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 10;
    width: 50%;
}

@media(max-width: 767px) {
    .message {
        width: 90%;
    }
}