
<div [formGroup]="newadForm">
    <label [attr.for]="formbase.key">{{formbase.label}}</label>
  
    <div [ngSwitch]="formbase.controlType">
  
      <input *ngSwitchCase="'textbox'" [formControlName]="formbase.key"
              [id]="formbase.key" [type]="formbase.type">
  
      <select [id]="formbase.key" *ngSwitchCase="'dropdown'" [formControlName]="formbase.key">
        <option *ngFor="let opt of formbase.options" [value]="opt.key">{{opt.value}}</option>
      </select>
  
    </div> 
  
    <div class="errorMessage" *ngIf="!isValid">{{formbase.label}} is required</div>
  </div>