<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="login-form">
      <h4 class="main-title">Login</h4>
      <h5 class="note-title">All ( * ) fields are required</h5>
      <!-- <div>
        <a href="#" class="social facebook"><img src="images/facebook.jpg" alt=""></a><a class="twitter social" href="#"><img src="images/twitter.jpg" alt=""></a>
      </div> -->
      <form [formGroup]="loginForm" method="POST">
      <span class="label-text">Email <span>*</span></span>
      <input type="email" class="input-info" formControlName="email" required>
      <div *ngIf="loginForm.invalid && formsubmitted" class="error-msg">

          <div class="text-danger" *ngIf="!!loginForm.controls['email'].pristine || !!loginForm.controls['email'].errors?.required">Email is required.</div>
          <div class="text-danger" *ngIf="loginForm.controls['email'].dirty && !!loginForm.controls['email'].errors?.patternInvalid?.regexp">Email is invalid.</div>
          <!-- {{!!loginForm.controls['email'].errors.required | json}} -->
      </div>
      <span class="label-text">Password <span>*</span></span>
      <input type="password"  formControlName="password" required class="input-info">
      <div *ngIf="loginForm.invalid && formsubmitted" class="error-msg">
          <div class="text-danger" *ngIf="!!loginForm.controls['password'].errors?.required">Password is required.</div>
      </div>
      <div class="check-box">
        <input type="checkbox" class="login-check" id="login-check"> <label class="text-label" for="login-check">Remember me</label>
        <a href="javascript:void(0)" class="forgot" (click)="forgotpassword()">Fogot your password ?</a>
      </div>
      <div class="group-button">
        <button class="button submit" (click)="login()">Login <span class="loading" *ngIf="showloading"><img src="assets/images/loader.gif"></span></button>
      </div>
    </form>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="error"> <strong>Error : </strong> Invalid Username / Password </div>
    <div class="alert alert-danger" role="alert" *ngIf="shownotverified"> <strong>Error : </strong> You have not verified your email. </div>

  </div>
