<app-header-common></app-header-common>
<div class="main-content shop-page main-content-grid">
		<div class="container">
			<div class="breadcrumbs">
					<a href="user/account">My Account</a>
			</div>
			<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 content-offset">
							<div class="categories-content">
									<div class="login-register-form content-form">
											<h4 class="shop-title">Edit Profile</h4>
											<div class="product-container auto-clear grid-style equal-container box-has-content">
													<form [formGroup]="editProfileForm">
															<div class="register-form">

															  <h5 class="note-title">All ( * ) fields are required</h5>
															  <div class="row">
																<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
																  <span class="label-text">Fist name <span>*</span></span>
																  <input type="text"  class="input-info" formControlName="firstname" required>
																  <div *ngIf="editProfileForm.invalid && formsubmitted" class="error-msg">
																	  <div class="text-danger" *ngIf="!!editProfileForm.controls['firstname'].errors?.required">First Name is required.</div>
																	</div>
																</div>
																<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
																  <span class="label-text">Last name <span>*</span></span>
																  <input type="text"  class="input-info" formControlName="lastname" required>
															  <div *ngIf="editProfileForm.invalid && formsubmitted" class="error-msg">
																  <div class="text-danger" *ngIf="!!editProfileForm.controls['lastname'].errors?.required">Last Name is required.</div>
															  </div>
																</div>
															  </div>
															  <div class="row">
																		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
																				<span class="label-text">Country Code<span>*</span></span>
																				<select class="form-control" formControlName="countrycode"> 
																						<option *ngFor="let item of countrycode" value="{{item._id}}">{{item.c_text}}</option>
																					</select>
																		</div>
																<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
																		<span class="label-text">Phone Number <span>*</span></span>
																		<input type="tel"  class="input-info" formControlName="phoneno" placeholder="123-456-7890">
																		<div *ngIf="editProfileForm.invalid && formsubmitted" class="error-msg">
																				<div class="text-danger" *ngIf="!!editProfileForm.controls['phoneno'].pristine || !!editProfileForm.controls['phoneno'].errors?.required">Phone number is required.</div>
																				<div class="text-danger" *ngIf="editProfileForm.controls['phoneno'].dirty && !!editProfileForm.controls['phoneno'].errors?.patternInvalid?.regexp">Phone Number is invalid.(e.g 123-456-7890)</div>
																		</div>
																</div>
																<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 regionoption">
																  <span class="label-text">Region<span>*</span></span>
																  <ng-select [searchable]="false" #regionSelect [items]="regions" [selectOnTab]="true" bindLabel="regionname" bindValue="_id"
																										 placeholder="" formControlName="region">
																										</ng-select>
																				<div *ngIf="editProfileForm.invalid && formsubmitted" class="error-msg top-minus-4">
																					<div class="text-danger" *ngIf="!!editProfileForm.controls['region'].errors?.required">Region is required.</div> 
																				</div>
															  
																</div> -->
															  </div>
															  <!-- <span class="label-text">Last name <span>*</span></span>
															  <input type="text"  class="input-info" formControlName="lastname" required>
															  <div *ngIf="editProfileForm.controls['lastname'].errors && !editProfileForm.controls['lastname'].pristine" class="error-msg">
																  <div class="text-danger" [hidden]="!editProfileForm.controls['lastname'].errors.required">Last Name is required.</div>
																</div> -->
																<div class="row">
																		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 regionoption">
																				<span class="label-text">Email Address <span>*</span></span>
																				<input type="email" class="input-info" formControlName="email" required>
																				<div *ngIf="editProfileForm.invalid && formsubmitted" class="error-msg">
																					<div class="text-danger" *ngIf="!!editProfileForm.controls['email'].errors?.required">Email is required.</div>
																					<div class="text-danger" *ngIf="editProfileForm.controls['email'].dirty && !!editProfileForm.controls['email'].errors?.patternInvalid?.regexp">Email is invalid.</div>
																				</div>
																		</div>
																		<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 regionoption">
																				<span class="label-text">Region<span>*</span></span>
																				<select class="form-control" formControlName="region"> 
																						<option *ngFor="let item of regions" value="{{item._id}}">{{item.regionname}}</option>
																					</select>
																							<div *ngIf="editProfileForm.invalid && formsubmitted" class="error-msg top-minus-4">
																								<div class="text-danger" *ngIf="!!editProfileForm.controls['region'].errors?.required">Region is required.</div> 
																							</div>
																			
																			</div> -->
																</div>
															 
															  <!-- <div class="check-box">
																<input type="checkbox" formControlName="newsletter" class="login-check" id="register-check"> <label class="text-label" for="register-check">Sign Up for Newsletter</label>
															  </div>
															  <h5 class="title">Login Information</h5>
															  <div class="row">
																<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
																  <span class="label-text">Password <span>*</span></span>
																  <input type="password"  formControlName="password"  class="input-info">
																  <div *ngIf="editProfileForm.invalid && formsubmitted" class="error-msg">
																	  <div class="text-danger" *ngIf="!!editProfileForm.controls['password'].pristine || !!editProfileForm.controls['password'].errors?.required">Password is required.</div>
																  </div>
																</div>
																<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
																  <span class="label-text">Confirm Password <span>*</span></span>
																  <input type="password"  formControlName="confirm_password"  class="input-info">
																  <div *ngIf="editProfileForm.invalid && formsubmitted" class="error-msg">
																	  <div class="text-danger" *ngIf="!!editProfileForm.controls['confirm_password'].pristine || !!editProfileForm.controls['confirm_password'].errors?.required">Confirm Password is required.</div>
																  </div>
																  <div *ngIf="editProfileForm.invalid && formsubmitted && editProfileForm.controls['confirm_password'].dirty" class="error-msg">
																	  <div class="text-danger" *ngIf="!!editProfileForm.errors?.mismatch && !!editProfileForm.controls['confirm_password'].errors?.required === false">Password & Confirm Password should be same.</div>
																 </div>
																
																</div>
															
															  </div> -->
															  <div class="group-button">
																		
																<button class="button submit"  [disabled]= "detailsloading" (click)="editprofile()">SUBMIT <span class="loading" *ngIf="showloading"><img src="assets/images/loader.gif"></span></button>
																<span class="successmsg" [ngClass]="{'bg-danger': error, 'bg-success': success}"  *ngIf="!!usermsg" >{{usermsg}}</span>
															  </div>		
															</div>
															</form>
											</div>
									</div>
									
									</div>
							
						  </div>
      <!-- sidebar -->
      <app-sidebar></app-sidebar>
      <!-- /sidebar-->
			</div>
		</div>
	</div>
	<app-footer></app-footer>