h3 span {
    font-size: 13px;
    background: #e8dfdf;
    padding: 2px 5px;
    vertical-align: middle;
}
span.successmsg {
    padding: 10px;
    left: 5px;
    position: relative;
}
.bg-success {
    background-color: #dff0d8;
    padding: 10px 10px;
    margin-left: 10px;
}